
h1 {
    text-align: center;
}

#centerContainer {
    display: flex;
    justify-content: center;
}

#lagBrukerFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.videre {
    display: flex;
    justify-content: center;
}

#lagBrukerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
